extends ../layouts/common

block content
  .container.pt-5
  
    h2 Profile
    .d-flex.my-4
      if user.avatar
        img.rounded(src= user.avatar width="100" height="100")
      else
        img.rounded(src="https://res.cloudinary.com/dkh65bchm/image/upload/v1587707855/defalut_bibumt.jpg" width="100" height="100") 
    .profile
      .item
        b ID:
        span.ml-2=user.id
      .item
        b Name:
        span.ml-2= user.name
      .item
        b Email:
        span.ml-2= user.email
    .my-2
      form(action="/users/profile/avatar", method="POST" enctype="multipart/form-data")
        .form-group
          input(type="hidden", name="id", value=user.id)
          input.form-control-file(type="file", name="avatar")
        button.btn.btn-success Update avatar
        
      
      